*{box-sizing: border-box;
#myform{
width: 400 px;
  margin: 3em auto;
  background-color: lightcyan;
  padding 2em;
}
  .btnsubmit{
  width: 100%
  background-color: darkblue;
color: white;
padding: 0.5em ;
margin-top: 2em;
border: none;
border-radius: 5px;
  }
.btnsumit:hover{
  background-color: crimson;
}
.greeting{
width: 400px;
margin: auto;
}
