body{background-color: #ffba7d;}

html, body {
    height: 100%;
    width: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    padding-top: 50px;
    display: table-cell;
}

div {
    margin: auto;
}

.topHeader {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    border-radius: 25px;
    width: 400px;
    height: 150px;
  }
  
  .mainBody {
    padding: 50px;
    text-align: center;
    background: wheat;
    color: white;
    font-size: 20px;
  }

.secondBody {
   padding: 50px;
    text-align: center;
    background: wheat;
    color: white;
    font-size: 20px
    border-radius: 25px;
    width: 400px;
    height: 150px;}


